body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2c3e50 0%, #34495e 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2980b9;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #3498db;
}

h1, h2, p {
    color: #ecf0f1;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #bdc3c7;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}

input[type="submit"] {
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2ecc71;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}
